.contactMain{
    display: flex;
    justify-content: center;
}
.contactForm{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
.contactForm input{
    border-top:0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid black !important;
    height: 40px;
}
.contactForm textarea{
    resize: none;
    height: 100px;
}
/* footer css*/
footer{
    font-size: 24px;
    text-align: center;
    margin-top:100px ;
    border-top:2px solid black ;
}
button{
    background-color: orange;
}